.journalEntryContainer {
	display: flex;
	flex-direction: column-reverse;
}

.journalEntry {
	padding: 0.2em;
	width: fit-content;
	max-width: 100%;
	box-sizing: border-box;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	background-color: Field;
	color: FieldText;
}

.journalEntry p:not(.journal) {
	margin: 0;
}

.journalEntry p.journal {
	overflow-wrap: break-word;
	hyphens: auto;
	white-space: pre-wrap;
	margin-bottom: 0;
}
