.journalForm {
	width: max-content;
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 0.333em;
}

.moods {
	margin-left: 1em;
	display: inline-grid;
	grid-template-columns: repeat(5, 1fr);
}

.mood {
	text-align: center;
}

.mood input[type=radio]:not(:checked) + span {
	color: GrayText
}

.mood input[type=radio] {
	appearance: none;
	margin: 0;
}

.text {
	display: flex;
}

.text span {
	margin-right: 0.5em;
}

.text textarea {
	flex-grow: 1;
}

.submit input[type=submit] {
	padding-top: 1em;
	padding-bottom: 1em;
	float: right;
}

.submit::after {
	content: "";
	clear: both;
	display: table;
}
