<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="A simple app to write your journal, and see a summary of your past entries." name="description">
	<title>Daily Feel</title>
	<noscript>
		<style>#app {
			display: none;
		}</style>
	</noscript>
	<!--HydrationScript-->
	<%= Rendered.hydration %>
</head>
<body>
<noscript style="font-size: xxx-large">This page requires javascript to work!</noscript>
<div id="app">
	<!--App-->
	<%= Rendered.app %>
</div>
</body>
</html>